* {
    margin:0px;
    padding:0px;
    font-family: Roboto, sans-serif;
}

main{
    display: flex;
}

aside{
    background-color: rgb(235, 82, 82);
    height: 100vh;
    position: sticky;
    top:0px;
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    z-index: 10;
}

section{
    width:86%
}

.page{
    height: 100vh;
}

ul{
    list-style: none;
}

li{
    text-transform: uppercase;
    margin:10px;
    padding: 010px;
    font-size:18px;
    text-align: center;
}

li:hover{
    background-color: whitesmoke;
    color: blueviolet;
    cursor: pointer;
}

.profile-picture{
    border-radius: 100px;
    border: 5px solid rgba(139, 69, 19, 0.767);
    box-shadow: 2px 1px 25px black;
    margin-bottom:25px;
}

.about-us{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 45px;
}

.my-name{
    font-size: 80px;
    margin-bottom: 20px;
}
.my-address{
    font-size: 20px; 
    margin-bottom: 50px;
}
.my-description{
    font-size: 20px;
    margin-bottom: 50px;
    max-width: 1050px;
    line-height: 30px;
}

.social-media-icon{
    width:50px;
    margin-right: 15px;
    transition: all 0.5s;
}

.social-media-icon:hover{
    transform: scale(1.2);
    transition: all 0.5s;
}